<li *ngFor="let menuItem of getMenu(navItems)"
    [ngClass]="{'active' : isActive(menuItem)}">
    <a uiSref="{{menuItem.state}}"
       class="waves-effect waves-block"
       [ngClass]="{'menu-toggle':(menuItem.seendpoints.length > 0)}"
       (click)="navigateTo($event,menuItem)">

        <i class="material-icons">{{menuItem.icon}}</i>
        <span translate>{{menuItem.menu_label}}</span>
    </a>

    <ul class="ml-menu" *ngIf="(menuItem.seendpoints.length > 0)">
        <app-nav-item [navItems]="menuItem.seendpoints"></app-nav-item>
    </ul>
</li>