<div class="overlay"></div>
<!-- SEARCH BAR -->
<div class="search-bar">
    <div class="search-icon">
        <i class="material-icons">search</i>
    </div>
    <input type="text" placeholder="{{'BUSCAR_LABEL'|translate}}">
    <div class="close-search">
        <i class="material-icons">close</i>
    </div>
</div>
<!-- #END# SEARCH BAR -->

<!-- Top Bar -->
<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse"
               data-target="#navbar-collapse" aria-expanded="false"></a>
            <a href="javascript:void(0);" class="bars"></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        <i class="material-icons">ic_language</i>
                        <span class="label-count">{{langPref.toUpperCase()}}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li *ngFor="let lang of langs |async">
                            <a href="javascript:void(0);" (click)="setLang(lang.lang)">
                                <img alt="" [src]="'assets/images/flags/'+lang.icon+'.png'">
                                {{lang.label}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- #Top Bar -->

<section>
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
        <!-- User Info -->
        <div class="user-info">
            <div class="info-container">
                <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{userInfo.name}}
                </div>
                <div class="email">{{userInfo.email}}</div>
                <div class="btn-group user-helper-dropdown">
                    <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="javascript:void(0);" (click)="initEditPassword()">
                            <i class="material-icons">vpn_key</i> {{'PASSWORD_FIELD_LABEL'|translate}}</a>
                        <li role="seperator" class="divider"></li>
                        <li><a href="javascript:void(0);" (click)="logout()">
                            <i class="material-icons">input</i> {{'LOGOUT_BTN_LABEL'|translate}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- #User Info -->
        <!-- Menu -->
        <div class="menu">
            <ul class="list" style="overflow: hidden; width: auto; height: 656px;">
                <app-nav-item [navItems]="userInfo.seendpoints"></app-nav-item>
            </ul>
        </div>
        -->
        <!-- #Menu -->
        <!-- Footer -->
        <div class="legal">
            <app-footer></app-footer>
        </div>
        <!-- #Footer -->
    </aside>
    <!-- #END# Left Sidebar -->
    <!-- Right Sidebar -->
</section>
<!-- #END# Right Sidebar -->

<!-- MODAL CAMBIO CONTRASEÑA -->
<div class="modal fade" id="editPasswordModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!--<h4 class="modal-title text-uppercase" id="newPeticionModalLabel" translate>
                    </h4>-->
            </div>
            <div class="modal-body">
                <core-panel title="CHANGE_PASSWORD_FIELD_LABEL" description="PASSWORD_RULES_FIELD_LABEL"
                            color="bg-orange" id_panel="formNewPassword">
                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <core-input label="CURRENT_PASSWORD_LABEL"
                                        id="oldPassword"
                                        name="oldPassword"
                                        [hasError]="objectErrorPassword.oldPasswordError"
                                        [errorText]="objectErrorPassword.oldPasswordText"
                                        [(ctModel)]="objectNewPassword.oldPassword"
                                        type="password">
                            </core-input>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <core-input label="NEW_PASSWORD_FIELD_LABEL"
                                        id="newPassword"
                                        name="newPassword"
                                        [hasError]="objectErrorPassword.newPasswordError"
                                        [errorText]="objectErrorPassword.newPasswordText"
                                        [(ctModel)]="objectNewPassword.newPassword"
                                        type="password">
                            </core-input>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <core-input label="REPIT_NEW_PASS_FIELD_LABEL"
                                        id="confirmPassword"
                                        name="confirmPassword"
                                        [hasError]="objectErrorPassword.confirmPasswordError"
                                        [errorText]="objectErrorPassword.confirmPasswordText"
                                        [(ctModel)]="objectNewPassword.confirmPassword"
                                        type="password">
                            </core-input>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                            <button class="btn btn-primary waves-effect m-r-15" type="button"
                                    (click)="sendNewPassword()" translate>
                                CAMBIAR_PASSWORD
                            </button>
                        </div>
                    </div>
                </core-panel>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-danger waves-effect"
                        data-dismiss="modal" translate>CLOSE_LABEL
                </button>
            </div>
        </div>
    </div>
</div>
<!-- FIN MODAL CAMBIO CONTRASEÑA -->
