<label [for]="id" translate>{{label}}</label>
<div class="form-group">
    <div class="form-line" [formGroup]="formGroup" *ngIf="formGroup; else noFormGroup"
         [ngClass]="{
         'focused' : focused,
         'error':(formGroup?.controls[name].invalid && formGroup?.controls[name].dirty)
         }">
        <textarea [id]="id"
                  #core_input_area
                  (focus)="onFocus($event)"
                  (focusout)="onFocusOut($event)"
                  [autofocus]="autofocus"
                  [rows]="rows"
                  [attr.maxLength]="maxlength"
                  formControlName="{{name}}"
                  class="form-control"></textarea>
    </div>

    <ng-template #noFormGroup>
        <div class="form-line"
             [ngClass]="{
         'focused' : focused,
         'error': hasError
         }">
            <textarea [id]="id"
                      #core_input_area
                      (focus)="onFocus($event)"
                      (focusout)="onFocusOut($event)"
                      [(ngModel)]="model"
                      [name]="name"
                      [rows]="rows"
                      [disabled]="disabled"
                      [attr.maxLength]="maxlength"
                      class="form-control"></textarea>
        </div>
    </ng-template>

    <div class="col-red font-12"
         *ngIf="formGroup?.controls[name].invalid">
        <p *ngIf="formGroup?.controls[name].errors.required" translate>CAMPO_REQUIRED_LABEL</p>
        <p *ngIf="formGroup?.controls[name].errors.maxlength">{{ 'MAX_LENGTH_VALUE' | translate:{maxl: maxlength} }}</p>
    </div>
    <div class="col-red font-12" *ngIf="hasError">
        <p class="m-b-0" *ngIf="hasError" translate> {{errorText}}</p>
    </div>
    <div class="col-blue font-12"
         *ngIf="focused && !((formGroup?.controls[name].invalid && formGroup?.controls[name].dirty) ||hasError)">
        <p *ngIf="helpText" translate> {{helpText}}</p>
    </div>
</div>
