<div>
    <label translate>{{label}}</label>
</div>
<div>
    <div *ngFor="let item of radioElements; index as idx" style="float: left">
        <input type="radio"
               class="with-gap"
               [name]="name"
               [id]="'rbtn'+idx+id"
               (click)="model = item"
               [disabled]="item.disabled"
               [checked]="item == model"/>
        <label [for]="'rbtn'+idx+id" translate>{{item.label}}</label>
    </div>
</div>
<div class="col-red font-12" *ngIf="hasError" style="clear:both;">
    <p *ngIf="hasError" translate> {{errorText}}</p>
</div>
