<div class="login-page">
    <div class="login-box">
        <div class="logo align-center">
            <!--<a href="javascript:void(0);">Clientes<b>BoxEx</b></a>
            <small>International Courier - <b class="font-italic"> The Latin Mail</b></small>
            <img src="assets/images/logo_app.png" style="width: 80%;">-->
        </div>
        <div class="card">
            <div class="body">
                <div class="row align-right">
                    <core-select-lang></core-select-lang>
                </div>
                <div class="alert bg-red alert-dismissible" *ngIf="hasAuthError">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    {{ authErrorMessage|translate }}
                </div>
                <form method="POST" (ngSubmit)="login();" [formGroup]="loginForm" *ngIf="!recordar" #loginFrm>
                    <div class="msg"><h4 translate class="text-uppercase">LOGIN_BTN_LABEL</h4></div>
                    <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">email</i>
                            </span>
                        <div class="form-line"
                             [ngClass]="{
                                 'focused' : arrayFocus['email'],
                                 'error': !loginForm.get('email').valid
                                 }">
                            <input type="email" class="form-control" name="email"
                                   placeholder="{{'EMAIL_FIELD_LABEL'|translate}}"
                                   (focus)="arrayFocus['email'] = true"
                                   (focusout)="arrayFocus['email'] = false"
                                   formControlName="email"
                                   [(ngModel)]="loginModel.email">
                        </div>
                        <label *ngIf="!loginForm.get('email').valid && loginForm.get('email').dirty"
                               class="error" for="email" translate>CAMPO_REQUIRED_LABEL</label>
                    </div>
                    <div class="input-group">
                            <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line"
                             [ngClass]="{
                                 'focused' : arrayFocus['password'], 'error': !loginForm.get('password').valid
                                 }">
                            <input type="password" class="form-control" name="password"
                                   placeholder="{{'PASSWORD_FIELD_LABEL'|translate}}"
                                   (focus)="arrayFocus['password'] = true"
                                   (focusout)="arrayFocus['password'] = false"
                                   formControlName="password" #password
                                   [(ngModel)]="loginModel.password">
                        </div>
                        <label *ngIf="!loginForm.get('password').valid && loginForm.get('password').dirty"
                               class="error" for="password" translate>CAMPO_REQUIRED_LABEL</label>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <button [disabled]="!loginForm.valid || autenticando"
                                    class="btn btn-block btn-lg bg-blue-boxex waves-effect"
                                    type="submit" translate>LOGIN_BTN_LABEL
                            </button>
                        </div>
                        <div class="col-xs-7 m-b--20">
                            <div class="col-xs-12 align-right" style="margin-top: 10px;">
                                <a href="#"
                                   (click)="modoRecordar($event,true)"
                                   translate>RECORDAR_PASS_LABEL</a>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- FORMULARIO PARA RECORDAR CONTRASEÑA -->
                <form method="POST" *ngIf="recordar" (ngSubmit)="recordarContrasena()" [formGroup]="recordarForm"
                      #recordarFrm>
                    <div class="msg p-t-15" translate> DIGITE_EMAIL_PARA_RECORDAR_LABEL</div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">email</i>
                        </span>
                        <div class="form-line"
                             [ngClass]="{
                                 'focused' : arrayFocus['emailR'], 'error': !loginForm.get('password').valid
                                 }">
                            <input type="email" class="form-control"
                                   #email_r
                                   formControlName="emailr"
                                   placeholder="Email"
                                   (focus)="arrayFocus['emailR'] = true"
                                   (focusout)="arrayFocus['emailR'] = false"
                                   [(ngModel)]="loginModel.email">
                        </div>
                    </div>

                    <button class="btn btn-block btn-lg bg-blue-boxex waves-effect"
                            type="submit"
                            [disabled]="!recordarForm.valid || recordando"
                            translate>
                        RECORDAR_PASS_LABEL
                    </button>

                    <div class="row m-t-20 m-b--5 align-center">
                        <a href="#" (click)="modoRecordar($event,false)"
                           translate>LOGIN_BTN_LABEL</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
