<core-panel title="MENU_CLIENTES_LABEL" id_panel="moduloCliente" description="VENTANA_CLIENTES_NOTIFICACIONES">
  <form novalidate [formGroup]="consultaForm" (submit)="consultaClientees()">
    <div class="row clearfix">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <core-input [formGroup]="consultaForm"
                    label="IDENTIFICACION_LABEL"
                    id="identificacion"
                    name="identificacion"
                    type="text">
        </core-input>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <core-input [formGroup]="consultaForm"
                    label="EMAIL_LABEL"
                    id="email"
                    name="email"
                    type="text">
        </core-input>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
        <button class="btn btn-primary waves-effect m-r-15" type="submit" [disabled]="consultando">
          <i class="material-icons">search</i>
          <span translate>CONSULTAR_LABEL</span>
        </button>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
        <button class="btn bg-blue-boxex waves-effect m-r-15" type="button"
                (click)="initRegisCliente()">
          <i class="material-icons">add_alert</i>
          <span translate>NUEVO_CLIENTE_LABEL</span>
        </button>
      </div>
    </div>
  </form>
</core-panel>

<core-simple-table [dataConfig]="simpleTableDataConfig" id_table="tblResultados"></core-simple-table>

<!-- MODAL CREATE - UPDATE -->
<div class="modal fade" id="_newCliente" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body" id="newDivisionPanel">
        <app-crear-cliente
          (onCreacion)="onClienteCread($event)">
        </app-crear-cliente>
      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-danger waves-effect"
                data-dismiss="modal" translate>CLOSE_LABEL
        </button>
      </div>
    </div>
  </div>
</div>
<!-- FIN MODAL CREATE - UPDATE -->
