<core-panel [title]="title" [description]="description" [color]="color" [id]="id_table+'_pnl'">
    <div class="body table-responsive" [id]="id_table">
        <table class="table table-hover table-condensed">
            <thead>
            <tr>
                <th *ngFor="let column of dataConfig.columns" class="text-uppercase" translate>{{column.label}}</th>
                <th *ngIf="(dataConfig.optionColumns?.length>0)" class="text-uppercase" translate>ACCIONES_LABEL</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of dataConfig.data; index as idx"
                [ngClass]="{'bg-grey':(selectedRow == data)}"
                [ngStyle]="{'cursor': dataConfig.allowSelectRow?'pointer':''}"
                (click)="selectRow(data)">
                <td *ngFor="let column of dataConfig.columns">
                    <span [innerHTML]="printData(idx,column,data,data[column.name])"></span>
                    <a *ngIf="(column.options?.action)" style="cursor: pointer"
                       (click)="column.options.action(data[column.name],data)" translate>
                        {{data[column.name]}}
                    </a>
                </td>
                <td *ngIf="(dataConfig.optionColumns?.length>0)">
                    <a style="cursor: pointer" [hidden]="option.hidden?option.hidden(data):false"
                       *ngFor="let option of dataConfig.optionColumns"
                       (click)="option.action(data)">
                        {{option.label|translate}}&nbsp;|&nbsp;</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</core-panel>
