<div [class]="'col-lg-'+ numcolum + ' col-md-'+numcolum+' col-sm-'+numcolum +' col-xs-12 '" [ngClass]="clases"
     [id]="id_panel">
    <div class="card">
        <div class="header" [ngClass]="color" [title]="title | translate">
            <h2 class="text-uppercase">
                {{title | translate}}
                <small translate>{{description}}</small>
            </h2>
            <ul class="header-dropdown m-r--5">
                <li>
                    <div class="btn-group pull-right" *ngIf="(actions?.length>0)">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">{{'ACCIONES_LABEL' | translate}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li *ngFor="let action of actions">
                                <a style="cursor: pointer" *ngIf="action.show? action.show():true"
                                   (click)="action.action()">{{action.label | translate}}</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li style="cursor: pointer" *ngIf="showHelpButton">
                    <i class="material-icons md-24" (click)="helpFunction()"
                    title="{{'HELP_LABEL' | translate}}">help</i>
                </li>
            </ul>
        </div>
        <div class="body" title="">
            <div class="row clearfix">
                <ng-content></ng-content>
            </div>
        </div>
    </div>
</div>