/* You can add global styles to this file, and also import other style files */
/* COLOR AZUL BOXEX */
.bg-blue-boxex, .bg-blue-boxex:hover {
    background-color: #001B85 !important;
    color: #fff;}

.bg-blue-boxex .content .text,
.bg-blue-boxex .content .number {
    color: #fff !important;}

.card .bg-blue-boxex   {
    border-bottom: none !important;
    color: #fff !important; }

.col-blue-boxex {
        color: #001B85  !important; }
/* FIN COLOR AZUL BOXEX*/

/* COLOR DORADO BOXEX */
.col-golden-boxex {
    color: #C19E57  !important; }
/* FIN COLOR DORADO BOXEX*/

/* PRELOADER AZUL BOXEX */
.spinner-layer.pl-blue-boxex {
    border-color: #001B85; }
/* FIN PRELOADER AZUL BOXEX */

[type="checkbox"]:checked.chk-col-blue-boxex + label:before {
    border-right: 2px solid #001B85;
    border-bottom: 2px solid #001B85; }

[type="checkbox"].filled-in:checked.chk-col-blue-boxex + label:after {
    border: 2px solid #001B85;
    background-color: #001B85; }

/* TEMA */
.theme-white .navbar {
    background-color: #ffffff;}
.theme-white .navbar-brand {
    color: #001B85;}
.theme-white .navbar-brand:hover {
    color: #001B85;}
.theme-white .navbar-brand:active {
    color: #001B85;}
.theme-white .navbar-brand:focus {
    color: #001B85;}
.theme-white .nav > li > a {
    color: #001B85;}
.theme-white .nav > li > a > .label-count {
    color: #eee;
    background-color:#001B85}
.theme-white .nav > li > a:hover {
    background-color: transparent;}
.theme-white .nav > li > a:focus {
    background-color: transparent;}
.theme-white .nav .open > a {
    background-color: transparent;}
.theme-white .nav .open > a:hover {
    background-color: transparent;}
.theme-white .nav .open > a:focus {
    background-color: transparent;}
.theme-white .bars {
    color: #001B85;}
.theme-white .sidebar .menu .list li.active {
    background-color: transparent;}
.theme-white .sidebar .menu .list li.active > :first-child i, .theme-white .sidebar .menu .list li.active > :first-child span {
    color: #001B85;}
.theme-white .sidebar .menu .list .toggled {
    background-color: transparent;}
.theme-white .sidebar .menu .list .ml-menu {
    background-color: transparent;}
.theme-white .sidebar .legal {
    background-color: #fff;}
.theme-white .sidebar .legal .copyright a {
    color: #001B85 !important;}
.navbar .navbar-toggle {
    color: #001B85;}
/* FIN TEMA */