<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 m-b-0">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 m-b-0">
      <core-input type="text"
                  [(ctModel)]="_nombres"
                  id="duc_nombres"
                  name="nombres"
                  label="NAMES_LABEL"
                  [hasError]="dataErrorCliente.error._nombres"
                  [errorText]="dataErrorCliente.text.required">
      </core-input>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 m-b-0">
      <core-input type="text"
                  [(ctModel)]="_apellidos"
                  id="duc_apellidos"
                  name="apellidos"
                  label="LAST_NAMES_LABEL"
                  [hasError]="dataErrorCliente.error._apellidos"
                  [errorText]="dataErrorCliente.text.required">
      </core-input>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 m-b-0">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 m-b-0">
      <core-input type="text"
                  [(ctModel)]="_telefono"
                  id="duc_telefono"
                  name="telefono"
                  label="PHONE_FIELD_LABEL"
                  [hasError]="dataErrorCliente.error._telefono"
                  [errorText]="dataErrorCliente.text.required">
      </core-input>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 m-b-0">
      <core-input type="text"
                  [(ctModel)]="_email"
                  id="duc_email"
                  name="email"
                  label="EMAIL_LABEL"
                  [hasError]="dataErrorCliente.error._email"
                  [errorText]="dataErrorCliente.text.email">
      </core-input>
    </div>
  </div>

  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 m-b-0">

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <label translate>{{'TRANSPORTADORA_LABEL' | translate}}</label>
      <div class="form-group">
        <div class="form-line">
          <select class="form-control show-tick" [(ngModel)]="tipoIde"
                  tabindex="-98">
            <option value="">{{'SELECCIONE_LABEL' | translate}}</option>
            <option *ngFor="let tipoide of listaIdentificacioness"
                    [ngValue]="tipoide">
              {{tipoide.nombre}}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 m-b-0">
      <core-input type="text"
                  [(ctModel)]="_identificacion"
                  id="duc_identificaion"
                  name="identificacion"
                  label="IDENTFICACION_LABEL"
                  [hasError]="dataErrorCliente.error._identificacion"
                  [errorText]="dataErrorCliente.text.required">
      </core-input>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 m-b-0">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 m-b-25">
      <app-buscar-ciudad label="CIUDAD_LABEL"
                         [hasError]="dataValidaccion.error.ciudad"
                         [(ciudad)]="_ciudad"
                         [errorText]="dataValidaccion.text.ciudad"></app-buscar-ciudad>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 m-b-0">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 m-b-0">
      <core-input-area id="duc_direccionEditComp"
                       [(ctModel)]="_direccion"
                       name="direccion"
                       label="DIRECCION_LABEL"
                       [rows]="2"
                       [hasError]="dataErrorCliente.error._direccion"
                       [errorText]="dataErrorCliente.text.required">
      </core-input-area>
    </div>
  </div>
</div>

<div _ngcontent-c2="" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-l-2 p-r-2">
  <button _ngcontent-c2=""
          class="btn bg-indigo waves-effect"
          translate=""
          (click)="sendCliente()"
          [disabled]="blockSendNotBoton"
          type="button">
    <i _ngcontent-c2="" class="material-icons">save</i>
    <span _ngcontent-c2="" translate>SEND_CLIENTE_LABEL</span>
  </button>
</div>

