<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
  <div class="info-box-4 hover-zoom-effect" style="cursor: pointer" (click)="goTo('detallecliente')">
    <div class="icon">
      <i class="material-icons col-blue-boxex">account_box</i>
    </div>
    <div class="content">
      <div class="text text-uppercase" translate>PROFILE_LABEL</div>
      <div class="number text-uppercase"></div>
    </div>
  </div>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
  <div class="info-box-4 hover-zoom-effect" style="cursor: pointer" (click)="goTo('notificaciones')">
    <div class="icon">
      <i class="material-icons col-golden-boxex">notifications</i>
    </div>
    <div class="content">
      <div class="text text-uppercase" translate>TIT_NOTIFI_CTRLBX_LABEL</div>
      <div class="number"></div>
    </div>
  </div>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
  <div class="info-box-4 hover-zoom-effect" style="cursor: pointer" (click)="goTo('warehouse')">
    <div class="icon">
      <i class="material-icons col-brown">inbox</i>
    </div>
    <div class="content">
      <div class="text text-uppercase" translate>PAQUETES_LABEL</div>
      <div class="number"></div>
    </div>
  </div>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
  <div class="info-box-4 hover-zoom-effect" style="cursor: pointer" (click)="goTo('consultaPeticion')">
    <div class="icon">
      <i class="material-icons col-light-green">forum</i>
    </div>
    <div class="content">
      <div class="text text-uppercase" translate>TIT_CONSUL_PETICION_LABEL</div>
      <div class="number"></div>
    </div>
  </div>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
  <div class="info-box-4 hover-zoom-effect" style="cursor: pointer" (click)="goTo('consultaOrdenPago')">
    <div class="icon">
      <i class="material-icons col-light-blue">monetization_on</i>
    </div>
    <div class="content">
      <div class="text text-uppercase" translate>TIT_CONSUL_ORDEN_PAGO_LABEL</div>
      <div class="number"></div>
    </div>
  </div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-l-0 p-r-0" style="height: 200px;">
  <core-panel title="INFO_GENERAL_LABEL" [numcolum]="6" color="bg-indigo" id_panel="infoCelulares">
    <h5 class="text-uppercase m-t-0">INFORMACION APERTURA CUENTAS:</h5>
    <p>
      <i class="material-icons col-red">donut_large</i>
      <span style="position: absolute;"> Recuerde que debido a politicas de la entidad, una cuenta bancaria solo se activara tras realizar un consignacion de minimo $ {{minimoApertura}}
        Pesos
      </span>
    </p>
  </core-panel>

</div>

