.dropdown-buscar-ciudad {
    position: absolute;
    overflow-y: auto;
    margin-top: 0px !important;
    max-height: 300px;
    width: 94%;
    top: auto;
    left: 14px;
}

li.active {
    background-color: #2196F3;
    border-color: #2196F3;
}

li.active>div.menu-info>div, li.active>div.menu-info>div {
    color: #fff;
}

.bcItem:hover {
    background-color: rgba(0, 84, 168, 0.15);
}