<core-input type="text"
            [id]="'buscarInput_'+input_id"
            [label]="label"
            (onFocus)="showList = (this.ciudadesEncontradas.length > 0)"
            (onFocusOut)="onInputFocusOut($event)"
            [errorText]="errorText"
            [hasError]="hasError"
            (keyup)="onKeyUp($event)"
            (keydown)="onKeyDown($event)"
            [(ctModel)]="ciudad.ciudad.nombre">
</core-input>
<span class="font-bold" *ngIf="ciudad?.ciudad_id">
    {{ciudad?.estado?.nombre+', '+ciudad?.pais?.nombre}}
</span>
<ul class="dropdown-menu dropdown-buscar-ciudad"
    [ngStyle]="{'display':showList?'block':'none'}">
    <li *ngIf="(buscando||sinRegistros)">
        <span class="align-left" translate *ngIf="buscando">BUSCANDO_LABEL</span>
        <span class="align-left" translate *ngIf="sinRegistros">NO_REGISTROS_LABEL</span>
    </li>
    <li class="body" *ngIf="(!buscando && !sinRegistros)">
        <ul class="menu">
            <li *ngFor="let iCiudad of ciudadesEncontradas" class="bcItem" style="cursor: pointer"
                [class.active]="(iCiudad.ciudad_id === ciudad?.ciudad_id)" (click)="selectItem(iCiudad,idx)">
                <div class="menu-info">
                    <div class="font-14 font-bold">{{iCiudad.ciudad.nombre}}</div>
                    <div class="font-13">{{iCiudad.estado.nombre+', ' +iCiudad.pais.nombre}}</div>
                </div>
            </li>
        </ul>
    </li>
</ul>
