<app-navbar></app-navbar>
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2 class="text-uppercase">
                {{currentEndpoint?.page_title | translate}}
                <!--<small translate>{{currentEndpoint?.page_desc}}</small>-->
            </h2>
        </div>
        <div class="row clearfix">
            <ui-view></ui-view>
        </div>
    </div>
</section>