<label class="m-b-0" [for]="id" translate>{{label}}</label>
<div class="form-group">
    <div class="form-line" [formGroup]="formGroup" *ngIf="formGroup; else noFormGroup"
         [ngClass]="{
         'focused' : focused,
         'error':(formGroup?.controls[name].invalid && formGroup?.controls[name].dirty)
         }">
        <input [type]="type"
               [id]="id"
               #core_input
               (focus)="onFocus($event)"
               (focusout)="onFocusOut($event)"
               formControlName="{{name}}"
               [step]="step"
               [autofocus]="autofocus"
               placeholder="{{placeholder | translate}}"
               class="form-control">
    </div>

    <ng-template #noFormGroup>
        <div class="form-line"
             [ngClass]="{
         'focused' : focused,
         'error': hasError
         }">
            <input [type]="type"
                   [id]="id"
                   #core_input
                   (focus)="onFocus($event)"
                   [autofocus]="autofocus"
                   (focusout)="onFocusOut($event)"
                   [(ngModel)]="model"
                   [step]="step"
                   [name]="name"
                   [disabled]="disabled"
                   placeholder="{{placeholder | translate}}"
                   class="form-control">
        </div>
    </ng-template>
    <div class="col-red font-12" *ngIf="formGroup?.controls[name].invalid">
        <p class="m-b-0" *ngIf="formGroup?.controls[name].errors.required" translate>CAMPO_REQUIRED_LABEL</p>
        <p class="m-b-0" *ngIf="(formGroup?.controls[name].errors.email && !isEmptyControl())" translate>EMAIL_FIELD_INVALID</p>
        <p class="m-b-0" *ngIf="(formGroup?.controls[name].errors.noEsNumerico && !isEmptyControl())" translate>SOLO_NUMEROS_FIELD</p>
    </div>
    <div class="col-red font-12" *ngIf="hasError">
        <p class="m-b-0" *ngIf="hasError" translate> {{errorText}}</p>
    </div>
    <div class="col-blue font-12"
         *ngIf="focused">
        <p *ngIf="helpText && !((formGroup?.controls[name].invalid && formGroup?.controls[name].dirty) || hasError)" translate> 
            {{helpText}}</p>
    </div>
</div>

