<blockquote class="p-b-0 p-t-0 m-b-5" [ngClass]="inClass">
    <p class="font-13 m-b-0" style="text-transform: uppercase"><b translate>{{label}}</b></p>
    <p class="font-15 m-t-0" [innerHTML]="text"></p>
</blockquote>